#intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 15%;
  min-height: 100vh;
  font-family: "NTR", sans-serif;
}

.intro-title {
  font-size: 86px;
  color: var(--lightest-slate);
}

.intro-name {
  color: var(--orange);
  font-weight: bold;
  font-size: 86px;
}

.intro-pronouns {
  color: var(--orange);
}

.intro-desc {
  color: var(--slate);
  font-size: 20px;
  max-width: 55%;
  padding-bottom: 50px;
}

.intro-contact {
  font-size: 22px;
  padding: 10px 20px;
  cursor: pointer;
  border: 2px solid var(--orange);
  border-radius: 4px;
}

.intro-contact-text {
  padding-left: 10px;
}

.intro-contact:hover {
  background-color: var(--lightest-navy);
}

b {
  font-size: 17px;
}

@media only screen and (max-width: 600px) {
  #gazi-model {
    display: none;
  }

  #intro {
    padding-left: 5%;
    padding-right: 5%;
    margin: 0;
    align-items: center;
  }

  .intro-title {
    font-size: 46px;
  }
  .intro-name {
    font-size: 46px;
  }

  .Typist {
    font-size: 36px;
  }

  .intro-desc {
    font-size: 18px;
    text-align: center;
    max-width: unset;
    padding-bottom: 40px;
  }

  .intro-contact {
    font-size: 16px;
    align-self: center;
    margin-left: 30%;
  }
}
